:root {
    --main-color: white;
    --yellow: #ffa502;
    --light-yellow:#eccc68;
    --grey: #444444;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--main-color);
}

#backBtn {
    padding: 5px 20px;
    font-size: 15px;
    color: var(--grey);
    background-color: var(--light-yellow);
    font-weight: bold;
}

.highscores {
    text-align: center;
}

.highscores p {
    font-size: 20px;
    padding: 10px 20px;
    color: var(--grey);
    text-align: center;
    background-color: var(--light-yellow);
}

#clearBtn {
    text-align: center;
    padding: 5px 20px;
    font-size: 20px;
    color: var(--grey);
    background-color: var(--light-yellow);
    font-weight: bold;
    margin-top: 40px;
}